
.header{
    color: var(--sys-secondary);
    font-size: xx-large;
    font-weight: 500;
    margin: 6px 0;
}

.event-spacer{
    height: 1px;
    margin: 0 17px;
    background-color: var(--sys-secondary);
}

.icon-wrapper {
    background-color: var(--sys-secondary-container);
    color: var(--sys-on-secondary-container);
    padding: 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-icon{
    color: var(--sys-primary);
}

.logo-wrapper{
    align-items: center;
    display: flex;
    padding: 0 5px;
}

.icon-section{
    background-color: var(--sys-surface-dim);
    border-radius: 60% 12px 12px 60%;
}

.mat-badge-content{
    background: var(--sys-tertiary);
    color: var(--sys-on-tertiary);
}

.content, .content > div{
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.changelog-content{
    & .dot{
        border-radius: 50%;
        width: 8px;
        height: 8px;
        display: flex;
    }

    & .change-wrapper > span{
        display: flex;
        align-items: center;
    }
}

.demo{
    background-color: var(--sys-tertiary-container);
    color: var(--sys-on-tertiary-container);
    padding: 0px 6px;
    font-size: small;
    margin: auto 8px;
    border-radius: 6px;
    display: flex;
    height: fit-content;
    width: fit-content;
}

.tile{
    padding: 24px;
    border-radius: 28px;
    background-color: var(--sys-surface-container)
}

.tile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sys-on-surface);
    margin-bottom: 8px;

    & > span{
        font-size: x-large;
        font-weight: 500 ;

        &.date{
            background-color: var(--sys-secondary-container);
            font-size: 14px;
            padding: 2px 4px;
            border-radius: 6px;
            margin-right: 6px;
        }
    }
    
}

.quick-tile{

    padding-top: 28.5px;

    & > div > div > div, & > .car-tile {
        border-radius: 24px;
        padding: 12px;
        height: 114px;
    }

    & .car-tile {
        background-color: var(--sys-primary-container);
        color: var(--sys-on-primary-container);
        
        margin-bottom: 6px;
    
        & .header {
            display: flex;
            justify-content: space-between;

            & h4    {
                font-style: italic;
            }
        }
    
        & .btns{
            display: flex;
            justify-content: center;
        }
    
    }

    & .left-tile {
        background-color: var(--sys-surface-container-highest);
        color: var(--sys-on-surface);
        margin-top: 12px;
    }

    & .right-tile {
        background-color: var(--sys-surface-container);
        color: var(--sys-on-surface);
        margin-top: 12px;
    }
}

.cost-tile{
    & .content {
        background-color: var(--sys-surface-container);
        border-radius: 32px;
        
        & ::ng-deep .chart-wrapper{
            height: 300px !important;
            
        }
    }
}

.news{
    padding-top: calc(var(--bs-gutter-x)* .5); 
    padding-bottom: calc(var(--bs-gutter-x)* .5);

    & .news-btns{
        background-color: var(--sys-secondary-container);
        color: var(--sys-on-secondary-container);
        align-items: center;
        border-radius: 42px;
        
    
        &.desktop{
            height: 220px;
            margin: auto 12px auto 0;
            justify-content: center;
            
        }
    
        &.mobile{
            height: 44px !important;
        }
    }
}



