<div class="container" style="margin-top: 32px;">
  <div class="row">

    <div class="col-md-6 h-100">
      <div>
        <div class="header">{{'Incoming events' | translate}}</div>
        <div class="content">
          <div *ngFor="let elem of (incomingEvents$ | async)" >
            <a [href]="'#/Events/' + event.entityType + '/' + event.id" *ngFor="let event of elem.events" class="event w-100" matRipple>
              <div class="d-flex flex-column">
                <span style="font-weight: 500;">{{event.entityType + '.HEADER' | translate }}&nbsp;{{event.date | date}}</span>
                {{elem.car?.name}}
              </div>

              <span class="material-symbols-rounded">{{getIconFor(event.entityType)}}</span>
            </a>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 quick-tile" *ngIf="(mainCar$ | async) as car">
      <div class="demo" style="margin-bottom: 12px">Demo</div>
      <div class="car-tile">
        <div class="header">
          <h4>{{car.name}}</h4>
        </div>
        <div class="btns">
          <button mat-button><span class="material-symbols-rounded">event</span></button>
          <button mat-button><span class="material-symbols-rounded">forum</span></button>
          <button mat-button><span class="material-symbols-rounded">settings</span></button>
        </div>
      </div>

      <div class="row">
        <div class="col-6" >
          <div class="left-tile" >
            {{car.lowestConsumption | number:'1.0-2'}} l/100km
          </div>
        </div>
        <div class="col-6">
          <div class="right-tile" >
          
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 cost-tile">
      <div class="d-flex">
        <div class="header">{{'Costs' | translate}}</div>
      </div>
      <div class="content p-3">
        <lib-chart [chartConfig$]="summaryChartConfig$"></lib-chart>
      </div>
          
    </div>

    <div class="col-12 h-100 news">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex">
          <div class="header">{{'News' | translate}}</div>
        </div>
        <div class="news-btns d-flex d-md-none mobile">
          <button [disabled]="btn.action === 'Voting'" mat-button *ngFor="let btn of newsActions; let index = index" [hidden]="btn.action != (newsSwitch$ | async)" (click)="switchAction(index)"><span class="material-symbols-rounded" [matBadge]="btn.badge" >{{btn.icon}}</span></button>
        </div>
      </div>
      <div class="d-flex">
        <div class="news-btns flex-column d-none d-md-flex desktop">
          <button [disabled]="btn.action === 'Voting'" mat-button *ngFor="let btn of newsActions" (click)="newsSwitch$.next(btn.action)"><span class="material-symbols-rounded" [matBadge]="btn.badge" >{{btn.icon}}</span></button>
        </div>

        <span [ngSwitch]="newsSwitch$ | async" class="w-100">
          <div *ngSwitchCase="'Changelog'" class="d-flex flex-column gap-3">
            <div class="tile" style="padding: 16px 16px 16px 22px" *ngFor="let section of changelog$ | async" >
              <div class="tile-header">
                <span>v{{section.version}}&nbsp;{{section.title}}</span>
                <span class="date">{{section.date}}</span>
              </div>
              <div class="tile-content changelog-content">
                <div class="d-flex flex-column">
                  <div *ngFor="let change of section.changes">
                    <span [ngSwitch]="change.type" class="change-wrapper">
                      <span *ngSwitchCase="'ADD'"><span class="dot" style="background-color: #94c48a;"></span>&nbsp;{{change.message}}</span>
                      <span *ngSwitchCase="'FIX'"><span class="dot" style="background-color: rgb(226, 214, 162);"></span>&nbsp;{{change.message}}</span>
                      <span *ngSwitchCase="'CHORE'"><span class="dot" style="background-color: rgb(156, 166, 185);"></span>&nbsp;{{change.message}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div *ngSwitchDefault class="d-flex flex-column gap-3">
            <div class="tile p-3" *ngFor="let article of news">
              <div class="tile-header">
                <span>{{article.title}}</span>
                <div class="d-flex">
                  <!-- <span class="material-symbols-rounded">{{article.icon}}</span> -->
                  <span>{{article.date | date:'dd.MM.yyyy'}}</span>
                </div>
              </div>
              <div class="tile-content">
                <p>{{article.preview }}</p>
              </div>
            </div>
          </div>
        </span>
        
      </div>
    </div>

  </div>
</div>