::ng-deep app-event-form{
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;

  & app-event-connection{
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);

  }

  ::ng-deep &.previous{
    position: absolute;
    transform: translateX(100%);
    opacity: 0;
  }

  ::ng-deep &.next{
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
  
}

