mat-drawer-container {
  width: 100vw;
  background-color: var(--sys-surface-container);

}

mat-drawer{
  // margin: 20px;
  border-radius: 15px;
  border: none;
  background: none;
  width: auto;
}

mat-drawer-content{
  overflow: visible;
  border-radius: 30px 0px 0px 30px;
  background-color: var(--sys-surface);
}

::ng-deep mat-drawer-content{
  margin-left: none !important;
}

.panel-wrapper {
  width: 88px;
  border: none;
  position: relative;
  border-radius: 10px;
}

.panel{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  color: white;
}

.menu-wrapper {
  display: flex;
  gap: 5px;
  padding: 0 5px;
  align-items: center;
  flex-direction: column;
}

.menu-item {
  min-height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--sys-on-primary-container);
  width: 100%;
  margin: 10px 20px;
}

.menu-item.selected{
  color: var(--sys-primary);
}

.menu-item mat-icon{
  margin: 7px;
  font-size: 30px;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
}


.drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 220px;
}

.logo-icon {
  margin: auto;
  font-size: 100px;
  width: fit-content;
}



.panel-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-bar {
  height: 60px;
  padding: 10px;
}

.app-bar button {
  background-color: white;
  min-height: 40px;
  width: 40px;
  min-width: 0px;
}

.app-bar mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 0px;
}

.menu-btn-label{
  text-align: center;
  font-size: small;
}
