<div class="h-100 container p-0">
    <div class="row">
        <div class="col-12" *ngIf="{consumption: getConsumptionResult()} as result">
            <div class="section" [ngClass]="{'good': result.consumption < 30, 'bad': result.consumption > 70}">
                <div>
                    <div class="header">{{'Fuel consumption' | translate}}</div>
                    <div class="output">
                        <span>{{calculate()}}</span>&nbsp; l/100km
                    </div>
                </div>
                <span class="material-symbols-rounded">swap_driving_apps_wheel</span>
            </div>
        </div>
        <div class="col-12">
            <div class="section">
                <div>
                    <div class="header">{{'Distance traveled' | translate}}</div>
                    <div class="output">
                        <span>{{getDistanceTraveled()}}</span>&nbsp;km
                    </div>
                </div>
                <span class="material-symbols-rounded">flyover</span>
            </div>
        </div>
        <div class="col-12">
            <div class="section">
                <div>
                    <div class="header">{{'Price per 100km' | translate}}</div>
                    <div class="output">
                        <span>{{getPricePer100()}}</span>&nbsp;zł
                    </div>
                </div>
                <span class="material-symbols-rounded">paid</span>
            </div>
        </div>
        <div class="col-12">
            <div class="section">
                <div>
                    <div class="header">{{'From last refueling' | translate}}</div>
                    <div class="output">
                        <span>{{getDaysFromRefueling()}}</span>&nbsp;{{'Days' | translate}}
                    </div>
                </div>
                <span class="material-symbols-rounded">event_repeat</span>
            </div>
        </div>
    </div>
</div>
