$bgBad: #6b4040;
$bgBadLight: #c78e8e;
$Bad: #ffc1c1;
$bgGood: #4f634e;
$bgGoodLight: #aebdac;
$Good: #e5ffde;
$GoodLight: #4b5f45;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--sys-surface-container-highest);
  border-radius: 10px;
}

.lower-index{
  align-items: end;
  display: flex;
}

.row {

  gap: 12px;

  & > div{

    & .section{

      @media (prefers-color-scheme: dark) {
        &.good{
          background-color: $bgGood;
          color: $Good;
        }
  
        &.bad{
          background-color: $bgBad;
          color: $Bad;
        }
      }
      @media (prefers-color-scheme: light) {
        &.good{
          background-color: $bgGoodLight;
          color: $GoodLight;
        }
  
        &.bad{
          background-color: $bgBadLight;
          color: $bgBad;
        }
      }

     

      & .header{
        font-weight: 500;
        font-size: 18px;
      }

      & .material-symbols-rounded{
        font-size: 32px;
      }

      height: 72px;
      display: flex;
      
      justify-content: space-between;
      align-items: center;
      background-color: var(--sys-surface-variant);
      color: var(--sys-on-surface-variant);
      padding: 0 24px;
      border-radius: 42px;
    }

  }
}




.bar{
  width: 100%;
  height: 16px;
  background: linear-gradient(90deg, rgba(175,80,80,1) 0%, rgba(124,180,91,1) 100%);
  border-radius: 8px;
  margin: 8px 0;
}

.bar-pin{
  background-color: var(--sys-primary);
  width: 12px;
  height: 22px;
  border-radius: 4px;
  position: relative;
  top: -3px;
}

.details{
  padding: 12px;
  width: 300px;
  background-color: var(--sys-secondary-container);
  border-radius: 12px;
  top: 28px;
  display: flex;
  flex-direction: column;
}

.details > span{
  display: flex;
  justify-content: space-between;
}

.container{
  padding: 12px 0 12px 0;
}