<div class="wrapper">
    <div class="axis"></div>
    <div class="content" #content>
    
        <div class="event" [class]="event.entityType" *ngFor="let event of _carEvents">
            <div class="event-bar"></div>
            <a class="icon-wrapper" matRipple style="cursor: pointer;" [attr.href]="getHref(event)" [title]="event.remarks">
                <span class="material-symbols-rounded">{{getIconFor(event.entityType)}}</span>
            </a>
            <div class="date-wrapper">{{event?.date | date}}</div>
        </div>
    </div>
</div>
