::ng-deep .petrol-tile{
  background-color: rgba(110, 172, 93, 0.356) !important;
  color: rgb(42, 66, 35) !important;
}
::ng-deep .petrol-tile.selected{
  background-color: rgba(110, 172, 93) !important;
  color: rgb(0, 0, 0) !important;
}

::ng-deep .diesel-tile{
  background-color: rgba(63, 63, 63, 0.356) !important;
  color: black !important;
}
::ng-deep .diesel-tile.selected{
  background-color: rgba(63, 63, 63) !important;
  color: rgb(192, 192, 192) !important;
}

::ng-deep .electric-tile{
  background-color: rgb(238, 233, 157) !important;
  color: black !important;
}
::ng-deep .electric-tile.selected{
  background-color: rgb(255, 230, 0) !important;
  color: black !important;
}

::ng-deep .hybrid-tile{
  background-color: rgb(240, 220, 183) !important;
  color: black !important;
}
::ng-deep .hybrid-tile.selected{
  background-color: rgb(236, 180, 77) !important;
  color: black !important;
}

::ng-deep .hydrogen-tile{
  background-color: rgb(223, 232, 240) !important;
  color: black !important;
}
::ng-deep .hydrogen-tile.selected{
  background-color: rgb(135, 191, 240)  !important;
  color: rgb(9, 72, 128) !important;
}
